<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>msgdetail</key>
	<dict>
		<key>className</key>
		<string>ChatPersonalViewController</string>
		<key>param</key>
		<dict>
			<key>messageSessionKey</key>
			<string>messageSessionKey</string>
		</dict>
	</dict>
	<key>tagdetail</key>
	<dict>
		<key>className</key>
		<string>TagDetailViewController</string>
		<key>param</key>
		<dict>
			<key>id</key>
			<string>tagID</string>
		</dict>
	</dict>
	<key>pkdetail</key>
	<dict>
		<key>className</key>
		<string>PKDetailViewController</string>
		<key>param</key>
		<dict>
			<key>contestantType</key>
			<string>contestantType</string>
			<key>id</key>
			<string>pkId</string>
		</dict>
	</dict>
	<key>msg</key>
	<dict>
		<key>className</key>
		<string>XiaoxiViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>recharge</key>
	<dict>
		<key>className</key>
		<string>ChongZhiViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>income</key>
	<dict>
		<key>className</key>
		<string>IncomeViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>webview</key>
	<dict>
		<key>className</key>
		<string>HtmlViewController</string>
		<key>param</key>
		<dict>
			<key>fileName</key>
			<string>fileName</string>
			<key>webTitle</key>
			<string>webTitle</string>
			<key>url</key>
			<string>url</string>
		</dict>
	</dict>
	<key>wb2873434969</key>
	<string>nothiing</string>
	<key>tencent1105521627</key>
	<string>nothiing</string>
	<key>QQ41e4ebdb</key>
	<string>nothiing</string>
	<key>wx45773649b8a1c03d</key>
	<string>nothiing</string>
</dict>
</plist>
